POSTGRES_DB=biteplate_db
POSTGRES_USER=USERNAME
POSTGRES_PASSWORD=PASSWORD

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/biteplate_db
SPRING_DATASOURCE_USERNAME=USERNAME
SPRING_DATASOURCE_PASSWORD=PASSWORD
